body {
    margin         : 0;
    padding        : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    min-height     : 100vh;
    background     : rgb(65, 84, 172);
}

.container {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    flex-direction : column;
}


button {
    margin-bottom: 20px;
    flex-basis    : 50px;
    min-width     : 200px;

}
